<?xml version="1.0" encoding="UTF-8"?>
<config>
    <login>1</login>
    <text1><![CDATA[Hallo,<br /><br />du warst schon seit %s nicht mehr bei Moodle.<br />Ich würde mich freuen, auch dich mal wieder da zu sehen. Bestimmt findest du auch viele neue Dokumente.<br /><br />Liebe Grüße<br /><br />Dein Moodle]]></text1> 
    <text2><![CDATA[Lieber Studierender,<br />Sie waren schon %s nicht mehr bei Moodle online. Bitte loggen Sie sich doch mal wieder ein und schauen Sie was es für Neuigkeiten gibt.<br /><br />Ihr Moodle]]></text2>
</config>